# Maven
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
release.properties

# Java
*.class
*.log
*.jar
*.war
*.ear

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# GPG
*.asc
secring.gpg